<div class="card">

  <div class="page-header">
    <h1>
      <span *ngIf="editingBookId !== 0"> Редактирование книги </span>
      <span *ngIf="editingBookId === 0"> Новая книга </span>
    </h1>
  </div>

  <div class="card-bloc" *ngIf="bookToEdit">

    <div class="row">
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Название" [(ngModel)]="bookToEdit.title" />
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Описание" [(ngModel)]="bookToEdit.description" />
      </div>
    </div>
    <br>



    <div class="row">
      <div class="col-lg-4">
        <button type="button" class="btn btn-primary" (click)="saveBook()" routerLink="/book">Сохранить</button>
      </div>
    </div>
    <br>
  </div>
</div>
